<ng-container *ngIf="!isLoggedIn(); else mainContent">
    <ng-container *ngIf="account; else register">
        <app-login (loginButtonClicked)="onLoginButtonClicked()"></app-login>
    </ng-container>
    <ng-template #register>
        <app-register (registerButtonClicked)="onRegisterButtonCliked()"></app-register>
    </ng-template>
  </ng-container>
  
  <ng-template #mainContent>
    <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
    <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body>
  </ng-template>