<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-head text-center">
                Detail of player
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID: </b>{{player.id}}</li>
                    <li class="list-group-item"><b>Name: </b>{{player.name}}</li>
                    <li class="list-group-item"><b>Position: </b>{{player.position}}</li>
                    <li class="list-group-item"><b>Age: </b>{{player.age}}</li>
                    <li class="list-group-item"><b>Height: </b>{{player.height}}</li>
                    <li class="list-group-item"><b>Weight: </b>{{player.weight}}</li>
                    <li class="list-group-item"><b>Value: </b>{{player.value}}</li>
                    <li class="list-group-item"><b>Clause: </b>{{player.clause}}</li>
                    <li class="list-group-item"><b>Points: </b>{{player.points}}</li>
                    <li class="list-group-item"><b>Team: </b>{{player.team}}</li>
                </ul>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-secondary w-100" routerLink="/players">
                    <i class="fal fa-arrow-alt-circle-left"></i> Back
                </button>
            </div>
        </div>
    </div>
</div>
